# ==========================================
# Base de Données PostgreSQL
# ==========================================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gt
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe

# ==========================================
# Configuration API FastAPI & Sécurité
# ==========================================
API_HOST=127.0.0.1
API_PORT=8000
SECRET_KEY=votre_cle_secrete_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# ==========================================
# Configuration Google API Admin & Télémétrie
# ==========================================
GOOGLE_CUSTOMER_ID=my_customer
GOOGLE_TOKEN_PATH=../credential/token.json
GOOGLE_CREDENTIALS_PATH=../credential/credential.json

# ==========================================
# Frontend (Vite / React)
# ==========================================
VITE_API_BASE_URL=http://localhost:8000
