# =========================
# Environment variables (SECRETS)
# =========================
.env
.env.local
.env.*.local
!.env.example

# =========================
# Google Credentials & Tokens
# =========================
credential/
credentials/
../credential/
*.json
!package.json
!package-lock.json
!tsconfig.json
!components.json
!eslint.config.json

# =========================
# Python & Virtual environment
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# =========================
# Node & Frontend Build
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# IDEs & OS Files
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Logs & Generated Data / DBs
# =========================
*.log
*.sqlite
*.sqlite3
*.db
output/
../output/
**/output/